body {
  margin: 0px;
  padding: 0px;
  font-family: poppins;
  background-color: #fff;
}
* {
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border: 1px solid rgba(13, 56, 36, 0.04);
  background-color: #198754;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}
.logo img {
  height: 35px;
}
nav .menu {
  display: flex;
}
nav .menu li a {
  height: 40px;
  line-height: 43px;
  margin: 0px;
  padding: 0px 22px;
  display: flex;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
  color: rgb(0, 0, 0);
  letter-spacing: 1px;
}
.search {
  width: 250px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 0px 20px;
}
.search input {
  width: 100%;
  height: 30px;
  border: none;
  outline: none;
  background-color: transparent;
}
.search i {
  color: #3a3a3a;
}
nav .menu li a:hover {
  background-color: #ffffff;
  color: #03cf03;
  box-shadow: 5px 10px 30px rgba(53, 53, 53, 0.1);
  transition: all ease 0.2s;
}
#main {
  padding-top: 80px;
  background-color: #ffffff;
}
.showcase-box {
  width: 430px;
  height: 250px;
  box-shadow: 5px 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin: 20px 20px 10px 20px;
  overflow: hidden;
}
.showcase-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.showcase-heading {
  font-weight: 400;
  margin: 0px;
  padding: 30px 20px;
  background-color: rgba(0, 0, 0, 0.01);
  border: 1px solid rgba(0, 0, 0, 0.06);
  font-size: 1.3rem;
  letter-spacing: 1px;
  width: 100%;
}
.cs-hidden {
  overflow: visible !important;
}
.latest-heading {
  font-weight: 400;
  margin: 0px;
  padding: 30px 20px;
  background-color: rgba(0, 0, 0, 0.01);
  border: 1px solid rgba(0, 0, 0, 0.06);
  font-size: 1.3rem;
  letter-spacing: 1px;
  width: 100%;
}
.latest-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  margin: 20px 10px;
  border-radius: 10px;
  overflow: hidden;
  width: 200px;
  background-color: #ffffff;
}
.latest-b-img {
  width: 100%;
  height: 270px;
}
.latest-b-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.latest-b-text strong {
  color: #3a3a3a;
  margin: 0px;
}
.latest-b-text {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}
.latest-b-text p {
  color: #979797;
  margin: 0px;
}
.movies-heading h2 {
  font-weight: 400;
  margin: 0px;
  padding: 30px 20px;
  background-color: rgba(0, 0, 0, 0.01);
  border: 1px solid rgba(0, 0, 0, 0.06);
  font-size: 1.3rem;
  letter-spacing: 1px;
  width: 100%;
}
.movies-heading {
  display: flex;
  margin: 0px;
}
.movies-box {
  width: 260px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  margin: 20px;
  border-radius: 5px;
  overflow: hidden;
  border-top: 3px solid #198754;
}
.movies-img {
  width: 100%;
  height: 360px;
  position: relative;
}
.movies-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movies-box:hover {
  transform: translateY(-10px);
  transition: all ease 0.2s;
}
#movies-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.quality {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #198754;
  color: #ffffff;
  padding: 5px 20px;
  font-weight: 500;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 5px 10px 30px rgb(13, 56, 36);
}

.la-detail-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
  box-sizing: border-box;
  font-family: poppins;
}
.la-type {
  display: flex;
  flex-direction: column;
}
.la-type a {
  color: #222222;
  margin: 0px 0px;
  font-weight: 600;
  letter-spacing: 0.2px;
  padding-right: 5px;
}
.la-type span {
  color: rgba(26, 26, 26, 0.5);
}
.la-price {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  border: none;
  background-color: #fff;
}
.la-price a {
  width: 50px;
  height: 30px;
  outline: none;
  color: #ffffff;
  border-radius: 40px;
  background-color: #198754;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}
.la-price a:hover {
  background-color: #284fd1;
}

.detail-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
  box-sizing: border-box;
  font-family: poppins;
}
.type {
  display: flex;
  flex-direction: column;
}
.type a {
  color: #222222;
  margin: 0px 0px;
  font-weight: 600;
  letter-spacing: 0.2px;
  padding-right: 5px;
}
.type span {
  color: rgba(26, 26, 26, 0.5);
}
.price {
  color: #333333;
  font-weight: 600;
  font-size: 0.9rem;
  font-family: poppins;
  letter-spacing: 0.2px;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
}
.btn a {
  width: 50px;
  height: 30px;
  border-radius: 40px;
  outline: none;
  color: #ffffff;
  background-color: #198754;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}
.btn a:hover {
  background-color: #284fd1;
}

nav .menu-btn {
  display: none;
}
.promosi {
  width: 100%;
  box-shadow: 5px 15px 30px rgba(0, 0, 0, 0.3);
  font-size: 1rem;
}

.owner {
  padding-top: 80px;
  text-align: center;
}

.owner-circle {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.owner-img img {
  margin: 40px 40px 0px 40px;
}

.tag-line {
  text-align: center;
  font-weight: 300;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.01);
  border: 1px solid rgba(0, 0, 0, 0.06);
  font-size: 1.3rem;
  letter-spacing: 1px;
  width: 100%;
}

@media (max-width: 1100px) {
  nav {
    justify-content: space-between;
    height: 70px;
    padding: 0px 10px;
  }
  nav .menu {
    display: none;
    position: absolute;
    top: 65px;
    left: 0px;
    background: #fff;
    border-bottom: 4px solid #198754;
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  .menu li {
    width: 100%;
  }
  nav .menu li a {
    width: 100%;
    height: 40px;
    align-items: center;
    margin: 0px;
    padding: 25px;
    border: 1px solid rgba(38, 38, 38, 0.03);
  }

  nav .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
    display: block;
  }
  nav .menu-icon .nav-icon {
    background-color: #333333;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 18px;
  }
  nav .menu-icon .nav-icon:before,
  nav .menu-icon .nav-icon:after {
    background: #333333;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all ease-out 0.2s;
    width: 100%;
  }
  nav .menu-icon .nav-icon:before {
    top: 5px;
  }
  nav .menu-icon .nav-icon:after {
    top: -5px;
  }
  nav .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
  }
  nav .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
  }
  nav .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
  }
  nav .menu-btn {
    display: none;
  }
  nav .menu-btn:checked ~ .menu {
    display: block;
  }
}
@media (max-width: 680px) {
  .showcase-box {
    max-width: 300px;
    height: 180px;
    margin: 10px;
  }
  .latest-box {
    width: 190px;
    margin: 20px 5px;
  }
  .movies-box {
    flex-direction: row;
    width: 90%;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
}
@media (max-width: 440px) {
  .about-us {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
  }
  .about-img img {
    height: 80px;
    margin: 20px 20px 0px 20px;
  }
  .lead {
    font-size: 1rem;
  }
  .display-4 {
    font-size: 1.5rem;
  }
  .movies-box {
    max-width: 99px;
    height: 175px;
    margin: 10px 2px;
    font-size: 10px;
  }
  .movies-img {
    max-width: 100%;
    height: 70%;
  }
  .movies-box {
    flex-direction: column;
  }
  .carousel-caption {
    justify-content: center;
    padding: 0px;
    font-size: 0.7rem;
  }
  .slide-top img {
    height: 250px;
  }
  .about {
    font-size: 10px;
  }
  .logo img {
    height: 30px;
  }
  .search {
    width: 90%;
    height: 40px;
  }
  .owner {
    padding-top: 45px;
    text-align: center;
  }

  .owner-circle {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
  }
  .owner-img img {
    height: 60px;
    margin: 20px 20px 0px 20px;
  }
  .tag-line {
    font-size: 16px;
  }

  .la-detail-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    font-family: calibri;
    font-size: 0.9rem;
  }

  .detail-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
    box-sizing: border-box;
    font-family: poppins;
  }
  .type {
    display: flex;
    flex-direction: column;
  }
  .type a {
    color: #222222;
    font-weight: 600;
    letter-spacing: 0.2px;
    padding-right: 5px;
  }
  .type span {
    color: rgba(26, 26, 26, 0.5);
  }
  .price {
    color: #333333;
    font-weight: 600;
    font-size: 0.5rem;
    font-family: poppins;
    letter-spacing: 0.2px;
  }
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }
  .btn a {
    width: 25px;
    height: 15px;
    border-radius: 10px;
    outline: none;
    color: #ffffff;
    background-color: #198754;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.5rem;
  }
  .btn a:hover {
    background-color: #284fd1;
  }
}
